*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

:root {
    --TC: #ffffff;
    --BC: #151515;
    --LC: #73D5AD;
    --CB: #242424;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--BC);
    max-width: 75%;
    padding: 0 2rem;
    margin-inline: auto;
    color: var(--TC);
    overflow-x: hidden;
    position: relative;
}

/* HEADING */

.Heading {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 2rem;
}

.nav_bar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding-right: 2rem;
}

.nav_svg {
    width: 30px;
}

.Links:hover {
    scale: 1.1;
}

.Links {
    transition: scale 0.3s ease-in-out;
}

/* PERSONAL */

.Personal {
    margin-top: 17rem;
}

.Greeting {
    font-size: 8rem;
    max-width: 14ch;
    line-height: 100px;
}

.Green-B {
    margin-left: 13rem;
    width: 600px;
    height: 9px;
    background-color: var(--LC);
    border-style: none;
    margin-top: -1rem;
}

.Description {
    font-size: 2rem;
    max-width: 36ch;
    margin-top: 2rem;
    font-weight: 300;
}

.Big-1 {
    display: block;
}

.pp {
    width: 28%;
    position: absolute;
    top: -1%;
    right: 0;
    z-index: -1;
}

.Rings {
    position: absolute;
    z-index: -1;
    top: 4.8%;
    left: -12%;
    transition: all 1s ease-in-out;
}

.Circle {
    position: absolute;
    top: 10%;
    left: 68%;
    transition: all 0.9s ease-in-out;
}

.Rings:hover {
    transform: skew(40deg);
    scale: 1.1;
}

.Circle:hover {
    scale: 1.1;
    opacity: 0.5;
    z-index: -1;
}

.btn_Contact {
    cursor: crosshair;
    margin-top: 7rem;
    border-style: none;
    background-color: inherit;
    color: var(--TC);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn_Contact:hover {
    text-shadow: 0 0 5px var(--TC), 0 0 1px var(--TC);
}

.Green {
    margin-top: 5px;
    width: 130px;
    height: 1px;
    background-color: var(--LC);
    border-style: none;
}

.Line {
    margin-top: 20rem;
}

/* SKILLS */

.Skills {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
}

.SL {
    font-size: 4rem;
}

.Y {
    font-size: 2rem;
}

.Rings_2 {
    position: absolute;
    z-index: 1;
    top: 31%;
    right: -26%;
    transition: all 1s ease-in-out;
}

.Rings_2:hover,
.Rings_3:hover {
    transform: skew(-40deg);
    scale: 1.1;
}

/* PROJECTS */

.Projects {
    margin-top: 10rem;
}

.Pj_Wrap {
    display: flex;
    justify-content: space-between;
}

.Pj_Title {
    font-size: 8rem;
}

.btn_Contact_Pj {
    align-self: flex-start;
}

.Designs {
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
}

.D_img {
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: 10px;
    transition: scale 0.3s ease-in-out;
}

.D_T {
    font-size: 2rem;
    padding-top: 0.5rem;
}

.D_D {
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 15px;
    padding-top: 0.3rem;
}

.D_img:hover {
    scale: 1.05;
    cursor: cell;
}

.D_V_W:hover {
    scale: 1.05;
    text-shadow: 0 0 5px var(--TC), 0 0 1px var(--TC);
    cursor: pointer;
}


/* CONTACT */

.Contact {
    margin-top: 5rem;
    display: flex;
}

.C_F {
    width: 50%;
}

.C_T {
    font-size: 8rem;
}

.C_D {
    font-size: 1.5rem;
    max-width: 42ch;
    letter-spacing: 1px;
}

.C_Space {
    display: block;
}

.C_I {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: end;
}

.C_wrap {
    width: 55%;
    opacity: 0.5;
    font-size: 1.1rem;
}

.C_I_I {
    all: unset;
    cursor: grab;
    border-bottom: 1px solid #ffffff;
    width: 60%;
    margin-bottom: 2rem;
    color: var(--TC);
    font-size: 1.1rem;
}

.Green_C {
    margin-left: auto;
    width: 165px;
}

.Line-2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.Rings_3 {
    position: absolute;
    bottom: 4.45%;
    left: -23%;
    transition: all 1s ease-in-out;
}

.B-C-S-C {
    background-color: var(--CB);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0 2rem 5rem;
    margin: 0 -2rem;
}

/* MEDIA ZEFT */

@media (max-width: 1450px) {

    html {
        overflow-x: hidden;
    }

    /* PERSONAL */

    .Personal {
        margin-top: 6rem;
    }

    .Greeting {
        font-size: 6.4rem;
        max-width: 14ch;
    }

    .Green-B {
        margin-left: 0;
        width: 500px;
        margin-top: 0.01rem;
    }

    .Description {
        font-size: 1.66rem;
        max-width: 36ch;
        margin-top: 3rem;
    }

    .med-1,
    .med-2 {
        display: block;
    }

    .pp {
        width: 43%;
        top: -1%;
        right: 0;
    }

    .Rings {
        top: 2%;
        left: -30%;
    }

    .Circle {
        scale: 1.01;
        top: 11.8%;
        left: 94%;
    }

    .btn_Contact {
        margin-top: 4rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .Green {
        width: 160px;
        height: 2px;
        margin-top: 1rem;
    }

    .Line {
        margin-top: 5rem;
    }

    /* SKILLS */

    .Skills {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .Rings_2 {
        z-index: 1;
        top: 30.3%;
        right: -38%;
    }

    /* PROJECT */

    .Projects {
        margin-top: 7rem;
    }


    .D_V {
        display: flex;
        padding-top: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        gap: 20px;
    }

    .Green_V {
        margin-top: 0.5rem;
        width: 100%;
        height: 2px;
        border-radius: 10px;
    }


    /* CONTACT */

    .Contact {
        flex-direction: column;
        align-items: center;
    }

    .C_F {
        width: 100%;
        text-align: center;
    }

    .C_D {
        max-width: 41ch;
        margin: auto;
    }

    .C_I {
        width: 100%;
        align-items: center;
    }

    .C_I_I {
        width: 70%;
    }

    .btn__Cnt {
        text-align: end;
        width: 70%;
    }

    .Rings_3 {
        bottom: 3.7%;
        left: -40%;
    }

    .Green_C {
        width: 190px;
    }

    .B-C-S-C {
        padding-bottom: 3rem;
    }

}

@media (max-width: 1200px) {

    .Description {
        max-width: 35ch;
    }
}

@media (max-width: 1090px) {
    .Description {
        max-width: 32ch;
    }

    .pp {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .Big-1 {
        display: none;
    }
}

@media (max-width: 1044px) {

    .Greeting {
        font-size: 6rem;
    }

    .Green-B {
        width: 475px;
        margin-top: -0.5rem;
    }

}

@media (max-width: 990px) {

    /* HEADING */

    .Heading {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .nav_bar {
        padding-right: 0rem;
    }

    /* PERSONAL */

    .pp {
        display: none;
    }

    .pp_S {
        display: block;
        position: absolute;
        top: -1.9%;
        right: 29%;
        border-radius: 20px;
        z-index: -1;
    }

    .Rings {
        top: 1.8%;
        left: -50%;
        z-index: -2;
        transform: skewX(-360deg);
        scale: 1.5;
    }

    .Circle {
        scale: 2;
        top: 8%;
        left: 94%;
    }

    .Personal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Greeting { /* font-size: 6rem;  */
        max-width: 30ch;
        margin-top: 50rem;

    }

    .med-1,
    .med-2 {
        display: none;
    }

    .Green-B {
        margin-left: 10.5rem;
        margin-top: -0.5rem;
    }

    .Description {
        width: 100%;
        margin-inline: auto;
        /* max-width: 1000ch; */
        text-justify: justify;
        /* border: 1px solid red; */
        font-size: 2.2rem;
    }

    .Line {
        width: 100%;
    }

    .btn_P {
        letter-spacing: 7px;
    }


    /* SKILLS */

    .Skills {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem;
        text-align: center;
    }

    .Line {
        display: block;
    }

    .Rings_2 {
        z-index: -2;
        top: 29.3%;
        right: -43%;
        scale: 1.5;
    }


    /* PROJECT */

    .Projects {
        margin-top: 7rem;
    }

    .Pj_Title {
        font-size: 5rem;
        /* border: 1px solid red; */
        padding-top: 1.9rem;
    }
    .btn_Contact_Pj {
        font-size: 2rem;
    }

    .Green_P{
        width: 200px;
    }

    .Designs {
        margin-top: 5rem;
        margin-bottom: 10rem;
        grid-template-columns: repeat(1, 1fr);

        row-gap: 4rem;
    }

    .D_T {
        font-size: 3rem;
        padding-top: 1rem;
    }
    
    .D_D {
        font-size: 2.2rem;
        word-spacing: 25px;
    }

    .D_V {
        font-size: 2rem;
        gap: 3rem;
    }

    .Green_V {
        margin-top: 0.5rem;
        width: 100%;
        height: 2px;
        border-radius: 10px;
    }

    /* CONTACT */
}